[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"

[dev-packages]
# pre-commit a fix
"flake8" = "4.0.1"
"black" = "23.10.1"
"pytest" = "7.4.3"

[requires]
python_version = "3.8"

[scripts]
start = "python src/main.py"
test = "pytest"
lint = "python -m black src/"
