[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python src/main.py"
test = "pytest test/test.py"
lint = "python -m black src/"
